AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>

DirectoryIndex index.php

RewriteEngine on
Options -Indexes
RewriteBase /
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} .+/$ [NC]
RewriteCond %{HTTP_HOST} ^www\.(.*)	[NC]
RewriteRule ^(.*)$ http://%1/$1	[R=303,L]

RewriteCond %{request_method} ^GET$
RewriteCond %{REQUEST_URI} ^(.+)/$
RewriteRule ^(.+)$ %1 [L,R=301]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|.ico|robots\.txt)$ [NC]



#RewriteRule ^(.+)$ index.php/$1 [L,QSA]
RewriteRule ^(.*)$ index.php?$1 [L,QSA]